<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
  <link rel="shortcut icon" type="image/png" href="assets/favicon.png" />
  <title>Concert Wish List</title>
</head>

<body>
  <a href="/users/logout" class="logout"><button>Sign Out</button></a>

  <form class="edit-show-form">
    <h5> Edit concert: </h5>

    <label>Date:</label>
    <input type="datetime-local" id="date-input" value="{{event_date}}">
    <br/>

    <label>Artist:</label>
    <input id="artist-input" value="{{artist}}">
    <br/>

    <label>Venue:</label>
    <input id="venue-input" value="{{venue}}">
    <br/>

    <label>City:</label>
    <input id="city-input" value="{{city}}">
    <br/><br/>

    <input type="hidden" id="id-input" value={{id}}>

    <button type="submit">Submit</button>
    <br/><br/>
    <a href="/shows/{{id}}">Cancel</a>
  </form>
  <a href="https://www.songkick.com/" target="_blank"><img class="songkick-logo" src="/assets/powered-by-songkick-pink.png"></a>
</body>

</html>
