<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="shortcut icon" type="image/png" href="assets/favicon.png" />
  <title>Concert Wish List</title>
</head>

<body>
  <div class="container">
  <div class="text-center">
    <h1>Create a new account</h1>
    <form action="/users" method="POST">

      <input id="email" type="email" name="user[email]" autocomplete="off" placeholder="email" /><br><br/>

      <input id="password" type="password" name="user[password]" autocomplete="off" placeholder="password" /><br/><br/>

      <input type="Submit" value="Sign Up">
    </form><br/>
    <a href="/"><small>Already have an account? Sign in here!</small></a>
  </div>
  <a href="https://www.songkick.com/" target="_blank"><img class="songkick-logo" src="/assets/powered-by-songkick-pink.png"></a>
  </div>
</body>

</html>
